<!DOCTYPE html>
<html>
<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="http://www.mothdesign.net/lesley/pattern-library/" property="og:url">
	<meta content="Lesley pattern library: Academic templates" property="og:title">
	<meta content="Design and content patterns for the Lesley.edu website" property="og:description">
	<meta content="Moth Design" property="og:site_name">
	<title>Academic templates - Lesley Pattern Library</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<link href="../stylesheets/site.css" rel="stylesheet">
</head>
<body class="templates templates_academics">
	<div class="title-bar">
		<div class="container">
			<div class="row">
				<div class="half column top-nav">
					<ul>
						<li>
							<a href="../patterns/promotional.html">Patterns</a>
						</li>
						<li>
							<a href="visual-content.html">Templates</a>
						</li>
						<li>
							<a href="../prototypes/explore.html">Prototypes and flows</a>
						</li>
					</ul>
				</div>
				<div class="half column site-title">
					<h3><a href="../">Lesley pattern library</a></h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="one-fourth column side">
				<nav class="menu">
					<div class="nav-mobile">
						<a href="#!" id="nav-toggle"><span></span></a>
					</div>
					<ul class="nav-list">
				        <li ><a href="visual-content.html">Visual content pages</a></li> 
				        <li  class="active"><a href="academics.html">Academics</a></li>
				          <ul class="sub-nav">
				            <li><a href="#area-of-study">Area of study</a></li>
							<li><a href="#area-of-study-menu">Area of study: Menu Open</a></li>
				            <li><a href="#explore-academics-landing">Explore academics: Landing Page</a></li>
							<li><a href="#explore-academics-start">Explore academics: Get Started</a></li>
							<li><a href="#explore-academics-art">Explore academics: Art &amp; Design</a></li>
							<li><a href="#explore-academics-education">Explore academics: Education</a></li>
				            <li><a href="#program">Academic Program</a></li>
				          </ul>
				        <li ><a href="stories.html">Stories</a></li> 
				        <li ><a href="guides.html">Guides</a></li>
				        <li ><a href="audience.html">Audience pages</a></li>
				        <li ><a href="lists.html">Lists</a></li>
				        <li ><a href="details.html">Details</a></li>
					</ul>
				    <ul class="key">
				    	<li class="char">Characters</li>
				  	<li class="words">Words</li>
				    </ul>
				</nav>
			</div>
			<div class="three-fourth column content">
				<h1>Academics</h1>
				<section id="area-of-study">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								A1
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Area of study</h2>
						</div>
					</div>
					<div class="line"></div><img alt="A01 area of study" class="artwork" src="../images/A01-area-of-study.png">
				</section>
				<section id="area-of-study-menu">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								A1
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Area of study: Open Menu</h2>
						</div>
					</div>
					<div class="line"></div><img alt="A01 area of study menu" class="artwork" src="../images/A01-area-of-study-menu.png">
				</section>
				<section id="explore-academics-landing">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								A2
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Explore Academics: Landing Page</h2>
						</div>
					</div>
					<div class="line"></div><img alt="A02 explore academics landing" class="artwork" src="../images/A02-explore-landing.png">
				</section>
				<section id="explore-academics-start">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								A2
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Explore Academics: Get Started</h2>
						</div>
					</div>
					<div class="line"></div><img alt="A02b explore academics start state" class="artwork" src="../images/A02-explore-start.png">
				</section>
				<section id="explore-academics-art">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								A2
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Explore Academics: Art &amp; Design example</h2>
						</div>
					</div>
					<div class="line"></div><img alt="A02b explore academics art and design" class="artwork" src="../images/A02-explore-art.png">
				</section>
				<section id="explore-academics-education">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								A2
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Explore Academics: Education</h2>
						</div>
					</div>
					<div class="line"></div><img alt="A02b explore academics education" class="artwork" src="../images/A02-explore-edu.png">
				</section>
				<section id="program">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								A3
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Program</h2>
						</div>
					</div>
					<div class="line"></div><img alt="A03 program page" class="artwork" src="../images/A03-program.png">
				</section>
			</div>
		</div>
	</div>
	<div class="bottom"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	</script> 
	<script src="../javascripts/stickyfill.js">
	</script> 
	<script>
	   $(function() {
	     $('.side').Stickyfill();
	   });
	</script>
</body>
</html>