<!DOCTYPE html>
<html>
<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="http://www.mothdesign.net/lesley/pattern-library/" property="og:url">
	<meta content="Lesley pattern library: Audience templates" property="og:title">
	<meta content="Design and content patterns for the Lesley.edu website" property="og:description">
	<meta content="Moth Design" property="og:site_name">
	<title>Audience templates - Lesley Pattern Library</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<link href="../stylesheets/site.css" rel="stylesheet">
</head>
<body class="templates templates_audience">
	<div class="title-bar">
		<div class="container">
			<div class="row">
				<div class="half column top-nav">
					<ul>
						<li>
							<a href="../patterns/promotional.html">Patterns</a>
						</li>
						<li>
							<a href="visual-content.html">Templates</a>
						</li>
						<li>
							<a href="../prototypes/explore.html">Prototypes and flows</a>
						</li>
					</ul>
				</div>
				<div class="half column site-title">
					<h3><a href="../">Lesley pattern library</a></h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="one-fourth column side">
				<nav class="menu">
					<div class="nav-mobile">
						<a href="#!" id="nav-toggle"><span></span></a>
					</div>
					<ul class="nav-list">
						<li>
							<a href="visual-content.html">Visual content pages</a>
						</li>
						<li>
							<a href="academics.html">Academics</a>
						</li>
						<li>
							<a href="stories.html">Stories</a>
						</li>
						<li>
							<a href="guides.html">Guides</a>
						</li>
						<li class="active">
							<a href="audience.html">Audience pages</a>
						</li>
						<ul class="sub-nav">
							<li>
								<a href="#audience-landing">Audience landing page</a>
							</li>
							<li>
								<a href="#audience-content">Audience content page</a>
							</li>
						</ul>
						<li>
							<a href="lists.html">Lists</a>
						</li>
						<li>
							<a href="details.html">Details</a>
						</li>
					</ul>
					<ul class="key">
						<li class="char">Characters</li>
						<li class="words">Words</li>
					</ul>
				</nav>
			</div>
			<div class="three-fourth column content">
				<h1>Audience</h1>
				<section id="audience-landing">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								I1
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Audience landing page</h2>
						</div>
					</div>
					<div class="line"></div><img alt="I01 audience landing" class="artwork" src="../images/I01-audience-landing.png">
				</section>
				<section id="audience-content">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								I2
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Audience content page</h2>
						</div>
					</div>
					<div class="line"></div><img alt="I02 audience content page" class="artwork" src="../images/I02-audience-content-page.png">
				</section>
			</div>
		</div>
	</div>
	<div class="bottom"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	</script> 
	<script src="../javascripts/stickyfill.js">
	</script> 
	<script>
	   $(function() {
	     $('.side').Stickyfill();
	   });
	</script>
</body>
</html>