<!DOCTYPE html>
<html>
<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="http://www.mothdesign.net/lesley/pattern-library/" property="og:url">
	<meta content="Lesley pattern library: List templates" property="og:title">
	<meta content="Design and content patterns for the Lesley.edu website" property="og:description">
	<meta content="Moth Design" property="og:site_name">
	<title>List templates - Lesley Pattern Library</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<link href="../stylesheets/site.css" rel="stylesheet">
</head>
<body class="templates templates_details">
	<div class="title-bar">
		<div class="container">
			<div class="row">
				<div class="half column top-nav">
					<ul>
						<li>
							<a href="../patterns/promotional.html">Patterns</a>
						</li>
						<li>
							<a href="visual-content.html">Templates</a>
						</li>
						<li>
							<a href="../prototypes/explore.html">Prototypes and flows</a>
						</li>
					</ul>
				</div>
				<div class="half column site-title">
					<h3><a href="../">Lesley pattern library</a></h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="one-fourth column side">
				<nav class="menu">
					<div class="nav-mobile">
						<a href="#!" id="nav-toggle"><span></span></a>
					</div>
					<ul class="nav-list">
						<li>
							<a href="visual-content.html">Visual content pages</a>
						</li>
						<li>
							<a href="academics.html">Academics</a>
						</li>
						<li>
							<a href="stories.html">Stories</a>
						</li>
						<li>
							<a href="guides.html">Guides</a>
						</li>
						<li>
							<a href="audience.html">Audience pages</a>
						</li>
						<li>
							<a href="lists.html">Lists</a>
						</li>
						<li class="active">
							<a href="details.html">Details</a>
						</li>
							<ul class="sub-nav">
								<li>
									<a href="#events">Events detail</a>
								</li>
								<li>
									<a href="#news">Article detail</a>
								</li>
								<li>
									<a href="#faculty">Faculty</a>
								</li>
								<li>
									<a href="#faculty-no">Faculty: no photo</a>
								</li>
							</ul>
					</ul>
					<ul class="key">
						<li class="char">Characters</li>
						<li class="words">Words</li>
					</ul>
				</nav>
			</div>
			<div class="three-fourth column content">
				<h1>Detail pages</h1>
				<section id="events">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								D1
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Events detail</h2>
						</div>
					</div>
					<div class="line"></div><img alt="D01 event" class="artwork" src="../images/D01-event.png">
				</section>
				<section id="news">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								D2
							</div>
						</div>
						<div class="three-fourth column">
							<h2>News detail</h2>
						</div>
					</div>
					<div class="line"></div><img alt="D02 article" class="artwork" src="../images/D02-article.png">
				</section>
				<section id="faculty">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								D3
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Faculty detail</h2>
						</div>
					</div>
					<div class="line"></div><img alt="D03 faculty" class="artwork" src="../images/D03-faculty.png">
				</section>
				<section id="faculty-no">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								D3
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Faculty detail: no photo</h2>
						</div>
					</div>
					<div class="line"></div><img alt="D03 faculty" class="artwork" src="../images/D03-faculty-no-photo.png">
				</section>
			</div>
		</div>
	</div>
	<div class="bottom"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	</script> 
	<script src="../javascripts/stickyfill.js">
	</script> 
	<script>
	   $(function() {
	     $('.side').Stickyfill();
	   });
	</script>
</body>
</html>