<!DOCTYPE html>
<html>
<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="http://www.mothdesign.net/lesley/pattern-library/" property="og:url">
	<meta content="Lesley pattern library: Guide templates" property="og:title">
	<meta content="Design and content patterns for the Lesley.edu website" property="og:description">
	<meta content="Moth Design" property="og:site_name">
	<title>Guide templates - Lesley Pattern Library</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<link href="../stylesheets/site.css" rel="stylesheet">
</head>
<body class="templates templates_guides">
	<div class="title-bar">
		<div class="container">
			<div class="row">
				<div class="half column top-nav">
					<ul>
						<li>
							<a href="../patterns/promotional.html">Patterns</a>
						</li>
						<li>
							<a href="visual-content.html">Templates</a>
						</li>
						<li>
							<a href="../prototypes/explore.html">Prototypes and flows</a>
						</li>
					</ul>
				</div>
				<div class="half column site-title">
					<h3><a href="../">Lesley pattern library</a></h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="one-fourth column side">
				<nav class="menu">
					<div class="nav-mobile">
						<a href="#!" id="nav-toggle"><span></span></a>
					</div>
					<ul class="nav-list">
						<li>
							<a href="visual-content.html">Visual content pages</a>
						</li>
						<li>
							<a href="academics.html">Academics</a>
						</li>
						<li>
							<a href="stories.html">Stories</a>
						</li>
						<li class="active">
							<a href="guides.html">Guides</a>
						</li>
							<ul class="sub-nav">
								<li>
									<a href="#guide-landing">Guide landing</a>
								</li>
								<li>
									<a href="#guide-select">Guide: select state</a>
								</li>
								<li>
									<a href="#guide-item">Guide: selectd item</a>
								</li>
								<li>
									<a href="#guide-text">Guide: text-only</a>
								</li>
								<li>
									<a href="#step-by-step">Guide: step-by-step state</a>
								</li>
								<li>
									<a href="#no-stepper">Guide: no stepper</a>
								</li>
							</ul>
						<li>
							<a href="audience.html">Audience pages</a>
						</li>
						<li>
							<a href="lists.html">Lists</a>
						</li>
						<li>
							<a href="details.html">Details</a>
						</li>
					</ul>
					<ul class="key">
						<li class="char">Characters</li>
						<li class="words">Words</li>
					</ul>
				</nav>
			</div>
			<div class="three-fourth column content">
				<h1>Guides</h1>
				<section id="guide-landing">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								G1
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Guide landing page</h2>
						</div>
					</div>
					<div class="line"></div><img alt="G01 guide landing" class="artwork" src="../images/G01-guide-landing.png">
				</section>
				<section id="guide-select">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								G2-a
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Guide: select state</h2>
						</div>
					</div>
					<div class="line"></div><img alt="G02 guide select state" class="artwork" src="../images/G02-guide-select-state.png">
				</section>
				<section id="guide-item">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								G2-a
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Guide: selected item</h2>
						</div>
					</div>
					<div class="line"></div><img alt="G02 guide selectd item" class="artwork" src="../images/G02-guide-select-state-choice.png">
				</section>
				<section id="guide-text">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								G2-a
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Guide: text-only</h2>
						</div>
					</div>
					<div class="line"></div><img alt="G02 guide text only" class="artwork" src="../images/G02-guide-select-state-paragraph.png">
				</section>
				<section id="step-by-step">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								G2-b
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Guide: step-by-step</h2>
						</div>
					</div>
					<div class="line"></div><img alt="G02 guide step by step state" class="artwork" src="../images/G02-guide-step-by-step-state.png">
				</section>
				<section id="no-stepper">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								G2-b
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Guide: no stepper</h2>
						</div>
					</div>
					<div class="line"></div><img alt="G02 guide no stepper" class="artwork" src="../images/G02-guide-no-stepper-state.png">
				</section>
			</div>
		</div>
	</div>
	<div class="bottom"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	</script> 
	<script src="../javascripts/stickyfill.js">
	</script> 
	<script>
	   $(function() {
	     $('.side').Stickyfill();
	   });
	</script>
</body>
</html>