<!DOCTYPE html>
<html>
<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="http://www.mothdesign.net/lesley/pattern-library/" property="og:url">
	<meta content="Lesley pattern library: Visual content templates" property="og:title">
	<meta content="Design and content patterns for the Lesley.edu website" property="og:description">
	<meta content="Moth Design" property="og:site_name">
	<title>Visual content templates - Lesley Pattern Library</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<link href="../stylesheets/site.css" rel="stylesheet">
</head>
<body class="templates templates_visual-content">
	<div class="title-bar">
		<div class="container">
			<div class="row">
				<div class="half column top-nav">
					<ul>
						<li>
							<a href="../patterns/promotional.html">Patterns</a>
						</li>
						<li>
							<a href="visual-content.html">Templates</a>
						</li>
						<li>
							<a href="../prototypes/stickynav.html">Prototypes and flows</a>
						</li>
					</ul>
				</div>
				<div class="half column site-title">
					<h3><a href="../">Lesley pattern library</a></h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="one-fourth column side">
				<nav class="menu">
					<div class="nav-mobile">
						<a href="#!" id="nav-toggle"><span></span></a>
					</div>
					<ul class="nav-list">
						<li class="active">
							<a href="visual-content.html">Visual content pages</a>
						</li>
							<ul class="sub-nav">
								<li>
									<a href="#homepage">Homepage</a>
								</li>
								<li>
									<a href="#landing-page">Visual landing page</a>
								</li>
								<li>
									<a href="#content-page">Visual content page</a>
								</li>
								<li>
									<a href="#school-page">School landing page</a>
								</li>
								<li>
									<a href="#library-page">Library landing page</a>
								</li>
							</ul>
						<li>
							<a href="academics.html">Academics</a>
						</li>
						<li>
							<a href="stories.html">Stories</a>
						</li>
						<li>
							<a href="guides.html">Guides</a>
						</li>
						<li>
							<a href="audience.html">Audience pages</a>
						</li>
						<li>
							<a href="lists.html">Lists</a>
						</li>
						<li>
							<a href="details.html">Details</a>
						</li>
					</ul>
				</nav>
				<ul class="key">
					<li class="char">Characters</li>
					<li class="words">Words</li>
				</ul>
			</div>
			<div class="three-fourth column content">
				<h1>Visual content</h1>
				<section id="homepage">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								V1
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Homepage</h2>
						</div>
					</div>
					<div class="line"></div><img alt="V01 homepage" class="artwork" src="../images/V01-homepage.png">
				</section>
				<section id="landing-page">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								V2
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Visual Landing Page</h2>
						</div>
					</div>
					<div class="line"></div><img alt="V02 visual landing page" class="artwork" src="../images/V02-visual-landing-page.png">
				</section>
				<section id="content-page">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								V3
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Visual Content Page</h2>
						</div>
					</div>
					<div class="line"></div><img alt="V03 visual content page" class="artwork" src="../images/V03-visual-content-page.png">
				</section>
				<section id="school-page">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								V4
							</div>
						</div>
						<div class="three-fourth column">
							<h2>School Landing Page</h2>
						</div>
					</div>
					<div class="line"></div><img alt="V04 school landing" class="artwork" src="../images/V04-school-landing.png">
				</section>
				<section id="library-page">
					<div class="top-link"></div>
					<div class="row">
						<div class="id-tag column">
							<div class="circle">
								V5
							</div>
						</div>
						<div class="three-fourth column">
							<h2>Library Landing Page</h2>
						</div>
					</div>
					<div class="line"></div><img alt="V05 library landing" class="artwork" src="../images/V05-library-landing.png">
				</section>
			</div>
		</div>
	</div>
	<div class="bottom"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	</script> 
	<script src="../javascripts/stickyfill.js">
	</script> 
	<script>
	   $(function() {
	     $('.side').Stickyfill();
	   });
	</script>
</body>
</html>